{% extends 'frame/nonavbase.html' %}

{% block title %}Inaenergy{% endblock %}
{% block content %}
  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h1 class="my-5">新品項報價</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="quota">
    <div class="container">
      <form method="POST" class="needs-validation" onsubmit="" novalidate>
        <div class="form-row">
          {% csrf_token %}
          <div class="col-12">
            <div class="form-group">
              <label for="id_{{ form.cate.name }}">*類別：</label>
              {{ form.cate }}
              <div class="invalid-feedback">
                請選擇類別！
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="id_{{ form.mfg.name }}">*製造商：</label>
              {{ form.mfg }}
              <div class="invalid-feedback">
                請選擇製造商！
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="id_{{ form.specmain.name }}">*規格：</label>
              {{ form.specmain }}
              <div class="invalid-feedback">
                請輸入規格！
              </div>
              <small id="nameHelpBlock" class="form-text text-muted">
                輸入主規格。
              </small>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="id_{{ form.name.name }}">*品項名稱：</label>
              {{ form.name }}
              <div class="invalid-feedback">
                請輸入品項名稱！
              </div>
              <small id="fullnameHelpBlock" class="form-text text-muted">
                輸入品項完整名稱。
              </small>
            </div>
          </div>
          <div class="col-9">
            <div class="form-group">
              <label for="id_{{ qryform.price.name }}">金額：</label>
              {{ qryform.price }}
              <div class="invalid-feedback">
                請輸入金額！
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="id_{{ qryform.crnt.name }}">幣別：</label>
              {{ qryform.crnt }}
              <div class="invalid-feedback">
                請選擇幣別！
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="id_{{ qryform.qdate.name }}">日期：</label>
              {{ qryform.qdate }}
              <div class="invalid-feedback">
                請選擇日期！
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="id_{{ form.remark.name }}">備註：</label>
              {{ form.remark }}
              <div class="invalid-feedback">
                {{ form.remark.errors }}
              </div>
            </div>
          </div>
          <input type="hidden" name="author" value="{{ request.user.id }}">
          <div class="col-12">
            <button type="submit" class="btn btn-primary" id="submit">送出</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <script>
      window.onbeforeunload = function () {
          window.opener.location.reload();
      };
      $(document).ready(function() {
          $('#id_cate').prop('disabled', true);
          $('#id_price, #id_crnt, #id_qdate').prop('required', true);
          let cate_id = $('#id_cate :selected').val();
          $.ajax({
              url: '/quotation/ajax/mfglist/',
              method: "GET",
              data: {
                  cate_id: cate_id,
              },
              success: function (res){
                  $('#id_mfg').empty();
                  $("#id_mfg").append($("<option value>").text("---------"));
                  for (const i in res.mfgs){
                      let option = $("<option>").val(res.mfgs[i].id).text(res.mfgs[i].id_name);
                      $("#id_mfg").append(option);
                  }
              },
          });
          $(document).on('click', '#submit', function () {
            $('select').prop('disabled', false);
        });
      });
  </script>
{% endblock %}