.idea
__pycache__
default.db.sqlite3
supplyChain/settings.py
pymssql-2.2.2-cp38-cp38-win_amd64.whl
/quotation/custom/secret.cfg
python_ldap-3.3.1-cp38-cp38-win_amd64.whl
/static/files/inquiry/output/
/static/files/itemhistory/output/
/static/files/inquiry/import/
