{% extends 'frame/base.html' %}

{% block title %}詢價單 - 詳細資料{% endblock %}
{% block css %}
  <link href="/static/custom/page.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
      var optionsold = {
        valueNames: [ 'id', 'sn', 'name', 'specmain', 'specsub', 'price', 'date' ],
      };
      var optionsnew = {
        valueNames: [ 'id', 'sn', 'name', 'specmain', 'specsub', 'price', 'date' ],
      };
      /*table = id of the div */
      var userList = new List('tableold', optionsold);
      var userListnew = new List('tablenew', optionsnew);
    </script>
{% endblock %}
{% block content %}
  <section id="basic" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">詢價單：{{ inquiry.sn }} - 詳細資料</h1>
      <a role="button" class="btn btn-primary" href="{% url 'Inquiry_List' %}">回詢價單列表</a>
      <a role="button" class="btn btn-secondary" href="{% url 'Inquiry_Eptxls' inquiry.id %}">匯出詢價單</a>
      {% if inquiry.status == "詢價中" %}
        <a role="button" class="btn btn-danger" href="{% url 'Inquiry_Close' inquiry.id %}">結案</a>
      {% endif %}
      <div class="row">
        <div class="col-md-3 my-3">
          <h6>單號：</h6>
          <h5 class="font-weight-bold">{{ inquiry.sn }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>詢價類別：</h6>
          <h5 class="font-weight-bold">{{ inquiry.cate }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>詢價人：</h6>
          <h5 class="font-weight-bold">{{ inquiry.author.last_name }}{{ inquiry.author.first_name }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>詢價狀態：</h6>
          <h5 class="font-weight-bold">
            {% if inquiry.status == "詢價中" %}
              <span class="text-danger">{{ inquiry.status }}</span>
            {% else %}
              {{ inquiry.status }}
            {% endif %}
          </h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>詢價廠商：</h6>
          <h5 class="font-weight-bold">{{ inquiry.company.shortname }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>聯絡人：</h6>
          <h5 class="font-weight-bold">{{ inquiry.company.spnsr }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>詢價日期：</h6>
          <h5 class="font-weight-bold">{{ inquiry.startdate|date:"Y-m-d" }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>預計完成日期：</h6>
          <h5 class="font-weight-bold">{{ inquiry.enddate|date:"Y-m-d" }}</h5>
        </div>
        <div class="col-12 my-3">
          <h6>備註：</h6>
          <h5 class="font-weight-bold">{{ inquiry.remark }}</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="quota_list">
    <div class="container py-3">
      <div id="quota_old" class="row my-3">
        <div class="col-12">
          <h5 class="font-weight-bold">既有品項</h5>
        </div>
        <div class="col-12">
          <div class="table-responsive" id="tableold">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">搜尋...</span>
              </div>
              <input type="text" class="fuzzy-search form-control" placeholder="輸入關鍵字" aria-label="Username" aria-describedby="basic-addon1">

            </div>
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th scope="col" class="sort fit" data-sort="id">項次</th>
                  <th scope="col" class="sort fit" data-sort="sn">料號</th>
                  <th scope="col" class="sort text-center" data-sort="name">品項</th>
                  <th scope="col" class="sort text-center" data-sort="specmain">規格1</th>
                  <th scope="col" class="sort text-center fit" data-sort="specsub">規格2</th>
                  <th scope="col" class="text-center fit">數量</th>
                  <th scope="col" class="sort text-center fit" data-sort="price">價格(新台幣)</th>
                  <th scope="col" class="sort text-center fit" data-sort="date">報價日期</th>
                  <th scope="col" class="text-center fit">動作</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for quota in quotas_old %}
                <tr class="text-center">
                  <td class="id text-center">{{ forloop.counter }}</td>
                  <td class="sn"><a href="{% url 'Item_Detail' quota.itemsn.id %}">{{ quota.itemsn.sn }}</a></td>
                  <td class="name text-center">{{ quota.itemsn.name }}</td>
                  <td class="specmain text-center">{{ quota.itemsn.specmain }}</td>
                  <td class="specsub text-center">{{ quota.itemsn.specsub|default_if_none:"" }}</td>
                  <td class="author text-center">{{ quota.count }}</td>
                  <td class="price text-center">
                    {% if quota.ntd_price %}
                      {{ quota.crnt.code }} {{ quota.price|floatformat:"2g" }}
                      {% if quota.crnt.code != "TWD"%}<br>({{ quota.ntd_price|floatformat:"2g" }}){% endif %}
                    {% endif %}
                  </td>
                  <td class="date text-center">{{ quota.qdate|date:"Y-m-d" }}</td>
                  <td class="text-center">
                    {% if inquiry.status == "詢價中" %}
                      <a class="btn btn-sm btn-primary" onClick="openwindow('{% url "Quota_Inpgupdate" quota.id %}')">更新報價</a>
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                  <tr>
                    <td colspan="7" class="text-center"> Empty </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="quota_new" class="row my-3">
        <div class="col-12">
          <h5 class="font-weight-bold">新增品項</h5>
        </div>
        <div class="col-12">
          <div class="table-responsive" id="tablenew">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">搜尋...</span>
              </div>
              <input type="text" class="fuzzy-search form-control" placeholder="輸入關鍵字" aria-label="Username" aria-describedby="basic-addon1">
              {% if inquiry.status == "詢價中" %}
                <a role="button" class="btn btn-danger ml-5" onClick="openwindow('{% url "Quota_Add" inquiry.id %}')">新增</a>
              {% endif %}
            </div>
            <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th scope="col" class="sort fit" data-sort="id">項次</th>
                  <th scope="col" class="sort fit" data-sort="sn">料號</th>
                  <th scope="col" class="sort text-center" data-sort="name">品項</th>
                  <th scope="col" class="sort text-center" data-sort="specmain">規格1</th>
                  <th scope="col" class="sort text-center fit" data-sort="specsub">規格2</th>
                  <th scope="col" class="text-center fit">數量</th>
                  <th scope="col" class="sort text-center fit" data-sort="price">價格(新台幣)</th>
                  <th scope="col" class="sort text-center fit" data-sort="date">報價日期</th>
                  <th scope="col" class="text-center">動作</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for quota in quotas_new %}
                <tr class="text-center">
                  <td class="id text-center">{{ forloop.counter }}</td>
                  <td class="sn">{{ quota.itemsn.sn }}</td>
                  <td class="name text-center">{{ quota.itemsn.name }}</td>
                  <td class="specmain text-center">{{ quota.itemsn.specmain }}</td>
                  <td class="specsub text-center">{{ quota.itemsn.specsub|default_if_none:"" }}</td>
                  <td class="author text-center">{{ quota.count }}</td>
                  <td class="price text-center">
                    {% if quota.ntd_price %}
                      {{ quota.crnt.code }}{{ quota.price|floatformat:"2g" }}
                      <br>{% if quota.crnt.code != "TWD"%}( {{ quota.ntd_price.price|floatformat:"2g" }}){% endif %}
                    {% endif %}
                  </td>
                  <td class="date text-center">{{ quota.qdate|date:"Y-m-d" }}</td>
                  <td class="text-center">
                    {% if inquiry.status == "詢價中" %}
                      <a class="btn btn-sm btn-primary" onClick="openwindow('{% url "Quota_Inpgupdate" quota.id %}')">更新報價</a>
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                  <tr>
                    <td colspan="8" class="text-center"> Empty </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
        function openwindow (url) {
          window.open(url,'','width=560, height=500, location=no, left=100, top=100');
        }
    </script>
{% endblock %}