{% extends 'frame/base.html' %}

{% block title %}{{ item.name }} - 詳細資料{% endblock %}
{% block css %}
  <link href="/static/custom/page.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    /* list.js config*/
    var options = {
      valueNames: [ 'inqry', 'comp', 'price_origin', 'price', 'date'],
      page: 10,
      pagination: [{
          name: "pagination",
          paginationClass: "pagination",
          innerWindow: 1,
          outerWindow: 1,
      }],
    };
    var userList = new List('table', options);
  </script>
  {{ quota_data|json_script:"quota_data" }}
  <script>
    const quota_data = JSON.parse(document.getElementById('quota_data').textContent);
    TESTER = document.getElementById('tester');
    var data = [
        {
            type: 'scatter',
            name: "價格",
            x: quota_data.time,
            y: quota_data.price,
            line: {color: '#17BECF'}
        }
    ];
    var layout = {
      title: '報價趨勢圖',
      xaxis: {
        title: {
          text: "日期",
          font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7F7F7F'
          }
        },
        autorange: true,
        type: 'date',
        rangeselector: {buttons: [
          {
            count: 7,
            label: '7d',
            step: 'day',
            stepmode: 'backward'
          },
          {
            count: 1,
            label: '1m',
            step: 'month',
            stepmode: 'backward'
          },
          {step: 'all'}
        ]},
      },
      yaxis: {
        autorange: true,
        type: 'linear',
        title: {
          text: "價格(新台幣)",
          font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7F7F7F'
          }
        },
      }
    };
    Plotly.newPlot( TESTER, data, layout);
  </script>
{% endblock %}
{% block content %}
  <section id="basic" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">{{ item.sn }}_{{ item.name }} - 詳細資料</h1>
      <div class="text-right"><small>新增日期：{{ item.addtime|date:"Y-m-d h:i:s a" }} by {{ item.author }}</small></div>
      <div class="text-right"><small>上次修改日期：{{ item.history.latest.history_date|date:"Y-m-d h:i:s a" }} by {{ item.history.latest.history_user }}</small></div>
      <!--按鈕區域-->
      <a role="button" class="btn btn-primary" href="{% url 'Item_Lsit' %}">回品項列表</a>
      <a role="button" class="btn btn-secondary" href="{% url 'Item_Hist_Exprt' item.id %}">匯出歷史報價</a>
      <a role="button" class="btn btn-danger" href="{% url 'Item_Update' item.id %}">編輯</a>

      <!-- 觸發永久刪除視窗 -->
      {% if item.itemquota.count == 0 %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#permDelModal">
          永久刪除
        </button>
      {% endif %}

      <!-- 彈出永久刪除視窗 -->
      <div class="modal fade" id="permDelModal" tabindex="-1" role="dialog" aria-labelledby="permDelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="permDelModalLabel">確認永久刪除？</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>是否永久刪除 {{ item }} 資料?</p>
              <p>(此刪除將無法復原，將從資料庫永久刪除，只有在沒有關聯任何資料時才會刪除。)</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <a href="{% url 'Item_PermDel' item.id %}"><button type="button" class="btn btn-danger">確定永久刪除</button></a>
            </div>
          </div>
        </div>
      </div>

      <!--詳細資料區-->
      <div class="row">
        <div class="col-md-6 my-3">
          <h6>料號：</h6>
          <h5 class="font-weight-bold">{{ item.sn }}</h5>
        </div>
        <div class="col-md-6 my-3">
          <h6>品項名稱：</h6>
          <h5 class="font-weight-bold">{{ item.name }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>類別：</h6>
          <h5 class="font-weight-bold">{{ item.cate }}</h5>
        </div>
        <div class="col-md-3 my-3">
          <h6>製造商：</h6>
          <h5 class="font-weight-bold">{{ item.mfg }}</h5>
        </div>
        <div class="col-md-4 my-3">
          <h6>規格：</h6>
          <h5 class="font-weight-bold">{{ item.specmain }}</h5>
        </div>
        <div class="col-md-2 my-3">
          <h6>詢價狀態：</h6>
          <h5 class="font-weight-bold">
            {% if item.is_inquiry %}
              詢價中
            {% else %}
              不詢價
            {% endif %}
          </h5>
        </div>
        <div class="col-12 my-3">
          <h6>備註：</h6>
          <h5 class="font-weight-bold">{{ item.remark }}</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="ploy">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="align-content-center" id="tester" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="quotas">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h5 class="font-weight-bold">歷史報價</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="table">
          <table class="table table-hover">
              <thead>
                <tr class="text-center">
                  <th scope="col" class="sort" data-sort="inqry">報價單</th>
                  <th scope="col" class="sort" data-sort="comp">廠商</th>
                  <th scope="col" class="sort text-right" data-sort="price_origin">報價</th>
                  <th scope="col" class="text-right">幣別(匯率)</th>
                  <th scope="col" class="sort text-right" data-sort="price">報價(新台幣)</th>
                  <th scope="col" class="sort" data-sort="date">時間</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for quota in quotas %}
                  <tr class="text-center">
                    <td class="inqry">
                      <a href="{% url 'Inquiry_Detail' quota.inquirysn.id %}">{{ quota.inquirysn.sn }}</a>
                    </td>
                    <td class="comp">{{ quota.inquirysn.company.shortname }}</td>
                    <td class="price_origin text-right fit">{{ quota.price|floatformat:"2g" }}</td>
                    <td class="text-right fit">
                      {% if quota.price %}
                        {{ quota.crnt.name }}({{ quota.xchgrt|floatformat:"2g" }})
                      {% endif %}
                    </td>
                    <td class="price text-right fit">{{ quota.ntd_price|floatformat:"2g" }}</td>
                    <td class="date">{{ quota.qdate|date:"Y-m-d" }}</td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="6" class="text-center"> Empty </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>
{% endblock %}