{% extends 'frame/base.html' %}

{% block title %}品項列表 - 寶晶供應鏈管理系統{% endblock %}
{% block css %}
  <link href="/static/custom/page.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script>
      var options = {
        valueNames: [ 'sn', 'fullname', 'category', 'spec', 'qdate', 'manufacturer'],
        page: 10,
        pagination: [{
            name: "pagination",
            paginationClass: "pagination",
            innerWindow: 1,
            outerWindow: 1,
        }],
      };

      /*table = id of the div */
      var userList = new List('table', options);
    </script>
{% endblock %}
{% block content %}
  <section id="doclist" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">品項一覽</h1>

      <div class="row">
        <div class="col-12 my-3">
          <a role="button" class="btn btn-primary" href="{% url 'Item_add' %}">新增</a>
        </div>
        <div class="col-12">
          <div class="table-responsive" id="table">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">搜尋...</span>
              </div>
              <input type="text" class="fuzzy-search form-control" placeholder="輸入關鍵字" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" class="sort" data-sort="sn">料號</th>
                  <th scope="col" class="sort fit" data-sort="fullname">品名</th>
                  <th scope="col" class="sort text-center" data-sort="category">類別</th>
                  <th scope="col" class="sort text-center" data-sort="manufacturer">製造商</th>
                  <th scope="col" class="sort text-center" data-sort="spec">規格</th>
                  <th scope="col" class="fit sort text-center" data-sort="qdate">最新報價日</th>
                  <th scope="col" class="text-center fit">詢價中</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for item in items %}
                <tr>
                  <td class="sn"><a href="{% url 'Item_Detail' item.id %}">{{ item.sn }}</a></td>
                  <td class="fullname">{{ item.name }}</td>
                  <td class="category text-center">{{ item.cate }}</td>
                  <td class="manufacturer text-center">{{ item.mfg }}</td>
                  <td class="spec text-center">{{ item.specmain }}</td>
                  <td class="qdate text-center">{% if item.last_quotatime %}{{ item.last_quotatime }}{% endif %}</td>
                  <td class="text-center">{% if item.is_inquiry %}是{% else %}否{% endif %}</td>
                </tr>
                {% empty %}
                  <tr>
                    <td colspan="7" class="text-center"> 目前尚無任何品項。 </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination"></ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}