{% extends 'frame/base.html' %}

{% block title %}編輯 {{ item.sn }} 資料 - 寶晶供應鏈管理系統{% endblock %}
{% block content %}
  <section id="doclist" class="py-3">
    <div class="container py-3">
      <h1 class="my-3">編輯 {{ item.sn }} - {{ item.name }} 資料</h1>
      <div class="row">
        <div class="col-12">
          <div id="msg" class="text-danger"></div>
          <div class="text-danger">
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-12">
          <form method="POST" class="needs-validation" onsubmit="" novalidate>
            <div class="form-row">
              {% csrf_token %}
              <div class="col-12 my-2">{{ form.non_field_errors }}</div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label for="id_sn">料號：</label>
                      <div id="id_sn" class="h4">{{ item.sn }}</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label for="id_cate">類別：</label>
                      <div id="id_cate" class="h4">{{ item.cate }}</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="form-group">
                      <label for="id_mfg">廠商：</label>
                      <div id="id_mfg" class="h4">{{ item.mfg }}</div>
                    </div>
                  </div>
                  <div class="col-6 col-md-3">
                    <div class="form-group">
                      <label for="id_spec">規格：</label>
                      <div id="id_spec" class="h4">{{ item.specmain }}</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_{{ form.name.name }}">品項名稱：</label>
                      {{ form.name }}
                      <small id="nameHelpBlock" class="form-text text-muted">
                        輸入品項名稱。
                      </small>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="id_{{ form.remark.name }}">備註：</label>
                      {{ form.remark }}
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="custom-control custom-switch">
                      {{ form.is_inquiry }}
                      <label class="custom-control-label" for="id_{{ form.is_inquiry.name }}">是否詢價？</label>
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" name="author" value="{{ request.user.id }}">
              <div class="col-12">
                <a role="button" class="btn btn-danger" href="../">取消</a>
                <button type="submit" class="btn btn-primary" id="submit">送出</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function (){
        $(document).on('click', '#submit', function (){
          $('input, select').prop('disabled', false);
        });
    });
  </script>
{% endblock %}